.my_pokemons__grid__container {
  margin-top: 50px;
  text-align: -webkit-center;
  .my_pokemons__card {
    width: 175px;
    margin-bottom: 30px;
    .my_pokemons__card__title {
      background-color: red;
      color: white;
      height: 50px;
      padding-top: 15px;
    }
  }
}
