.pokedex__container {
   height: auto;
   .pokedex__add {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
}

.pokedex__loading{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
